<footer class="bg-primary text-white mt-auto p-3 text-center">
  <p class="m-0">exchange rates &copy; <%= new Date().getFullYear(); %> | Open source on <a href="https://github.com/IvanAdmaers/exchange-rates" target="_blank" class="text-white">GitHub</a></p>
</footer>