<header class="bg-primary text-white d-flex justify-content-center flex-column text-center py-3">
  <a href="/" class="w-max-content m-auto text-white text-decoration-none h3">Exchange Rates</a>
  <nav class="nav nav-masthead justify-content-center">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
    <!-- <a class="nav-link" href="/">Contact</a> -->
  </nav>
</header>