<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs'); %>
<body>
    <%- include('../partials/header.ejs'); %>
    <main class="min-vh-100">
      <%- body %>
    </main>
    <%- include('../partials/footer.ejs'); %>
</body>
</html>