<div class="cover-container m-auto mb-5">
  <div class="min-vh-100 d-flex justify-content-center align-items-center flex-column">
    <h1 class="text-center">Exchange rates API with additional features</h1>
    <p class="lead">
      A fast, lightweight and powerful exchange rates API
    </p>
    <p class="lead">
      <a href="#docs" class="btn btn-primary">Explore</a>
    </p>
  </div>
  <section id="docs">
    <div data-live-request="true">
      <h2>Latest Rates</h2>
      <p class="lead my-1">Get the latest exchange reference rates<br />
        <a href="/api/latest" target="_blank">/api/latest</a>
      </p>
      <hr />
      <p>Parameters</p>
      <ul>
        <li>
          <p>
            base - base currency. Enter the currency code of your preferred base currency<br />
            Example - /api/latest?base=USD
          </p>
        </li>
        <li>
          <p>
            symbols - list of comma-separated currency codes<br />
            Example - /api/latest?symbols=USD,CAD,AUD
          </p>
        </li>
        <li>
          <p>
            amount - amount to convert<br />
            Example - /api/latest?amount=100
          </p>
        </li>
      </ul>
      <button type="button" class="btn btn-primary mb-1">Try it out</button>
      <div class="live-example"></div>
    </div>
  </div>
</section>
